:root {
  --azul-primario: #007bff;
  --bg-dark: #111;
  --bg-drawer: #ffffff;
}

.cabecalho {
  background-color: var(--bg-dark);
  color: #fff;
  width: 100%;
  height: 80px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding: 0 1rem;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem; 
}

.logo {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.logoContainer h1 {
  font-size: 1.1rem; 
  font-weight: 800;
  margin: 0; 
  white-space: nowrap; 
}

.logoContainer h1 span {
  color: var(--azul-primario);
  font-weight: 700;
  margin-left: 3px;
}


.header-actions {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.cart-trigger {
  background: transparent;
  border: none;
  color: white;
  font-size: 22px;
  position: relative;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}

.badge {
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: #ff4d4d;
  color: white;
  font-size: 10px;
  min-width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--bg-dark);
}

.iconButton {
  display: none;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}


.navMenu ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.navMenu a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}


@media (max-width: 768px) {
  .cabecalho {
    height: 70px;
    padding: 0 0.8rem;
  }

  .navMenu {
    display: flex; 
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70%; 
    max-width: 280px;
    background: var(--bg-dark); 
    border-left: 2px solid var(--azul-primario);
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1001;
    padding: 80px 20px;
  }

  .navMenu.open {
    transform: translateX(0);
  }

  .iconButton {
    display: block; 
    z-index: 1100;
  }

  .navMenu ul {
    flex-direction: column;
    gap: 1.5rem;
  }
}